.f14423618222

	{

		width:980px;

		margin-left:auto;

		margin-right:auto;

	}

/*图标*/

.f14478937298

	{

		margin-left: 30%;

		padding-top:20px;

		margin-left: 30

	}

.f14678321687

	{

		float:left;

		color:#FFF;

		font-size:24px;

		font-weight:bold;

		line-height:85px;

		padding-left:30px;

		background:url(../image/ioc13.png) no-repeat;

		background-position:left center;

		height:85px;

	}

.f14678321687 span

	{

		font-size:30px;

	}

.f13446876482

	{

		float:right;

		height:85px;

	}

.share li

	{

		float:left;

		color:#FFF;

		margin-left:60px;

		line-height:85px;

		padding-left:45px;

		background-position:left center;

		font-size:14px;

		position:relative;

	}

.site

	{

		background:url(../image/ioc15.png) no-repeat;

	}

.ziuxn

	{

		background:url(../image/ioc14.png) no-repeat;

	}

.shareDiv

	{

		position:relative;

		background:url(../image/ioc16.png) no-repeat;

	}

.shareList

	{

		display:none; 

		position:absolute; 

		bottom:-15px;

		left:0px;

		width:500px;

	}

/*导航*/

.pOCRAZrsnH

	{

		clear:both;

		font-size:14px;

		overflow:hidden;

		line-height:58px;

		height:58px;

	}

.buqpywfVSf

	{

		float:left;

		margin-right:30px;

		margin-left:18px;

	}

.buqpywfVSf .BY5maaxCdj

	{

		color:#FFF;

	}

/*友情链接*/

.f14473921790

	{

		line-height:43px;

		height:43px;

		border-top:1px solid #2b2b2b;

		border-bottom:1px solid #2b2b2b;

		padding:0px 12px;

		margin-bottom:24px;

		clear:both;

		font-size:14px;

	}

.f14473921791	

	{

		color:#FFF;

		float:left;

	}

.f14473921793

	{

		float:left;

		margin-left:18px;

	}

.f14473921793 .f14473921794

	{

		color:#FFF;

	}

/*版权*/

.f14478340261

	{

		clear:both;

		width:950px;

		margin-left:36%;

		margin-right:auto;

		overflow:hidden;

		padding-bottom:20px;

	}

.f14478340261 .f14872638712

	{

		color:#FFF;

		font-size:12px;

		width:700px;

		float:left;

		line-height:24px;

	}

.f14468423832

	{

		color:#FFF;

		font-size:14px;

		float:right;

		line-height:40px;

		padding-top:15px;

	}