.Vx9yKNITbV
	{
		float:right;
		margin-right:12px;
	}
.Vx9yKNITbV li
	{
		float:left;
		color:#7c7c7c;
	}
.slFWr3Xw0b .xsfEM6Zg6i , .slFWr3Xw0b .BMM5w72wMJ
	{
		color:#7c7c7c;
	}