.f14464854882
	{
		margin:20px;
		text-align:center;
	}
.f14464847352	
	{
		color:#343434;
		line-height:30px;
		font-size:20px;
		margin-top:10px;
	}
.f14464847353
	{
		font-size:14px;
		color:#999999;
	}
.bdsharebuttonbox 
	{
		width:140px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:20px;
	}
.f14463287122
	{
		margin:20px;
	}
.f14464847354
	{
		text-align:left;
		color:#555555;
		font-size:14px;
		line-height:28px;
		margin-bottom:30px;
		margin-top:20px;
	}
.f14464847355
	{
		text-align:left;
		color:#1d1d1d;
		line-height:26px;
	}
.f14464847355 .f14464847356
	{
		color:#1d1d1d;
	}
.f14464847355 .f14464847356:hover
	{
		text-decoration:underline;
	}
.f144478231687 .f144478231688	
	{
		display:block;
		width:138px;
		height:39px;
		text-align:center;
		line-height:39px;
		background-color:#a5754d;
		color:#FFF;
		margin-left:auto;
		margin-right:auto;
		margin-top:30px;
		border-radius:5px;
		font-size:14px;
		margin-bottom:30px;
	}
.f144478231687 .f144478231688:hover
	{
		text-decoration:underline;
	}
.f144648548813
	{
		margin-top:20px;
		text-align:left;
		color:#666666;
		font-size:14px;
		line-height:26px;
	}