.f14464848056

	{
		

		overflow:hidden;

		margin:18px;

	}

.f14464848057

	{

		float:left;

		margin-left:7px;

		margin-right:7px;

		margin-bottom:10px;

		overflow:hidden;

	}

.f14464848059

	{

		display:block;

		position:relative;

	}

.f14464848059 .f144361829613

	{

		position:absolute;

		top:-53px;

		left:50%;

		margin-left:-27px;

		transition:all 0.5s ease-in-out;

		-moz-transition:all 0.5s ease-in-out;

		-webkit-transition:all 0.5s ease-in-out; 

		-ms-transition:all 0.5s ease-in-out;

	}

.f14464848059:hover .f144361829613

	{

		top:50%;

		left:50%;

		margin-left:-27px;

		margin-top:-27px;

		transition:all 0.5s ease-in-out;

		-moz-transition:all 0.5s ease-in-out;

		-webkit-transition:all 0.5s ease-in-out; 

		-ms-transition:all 0.5s ease-in-out;

	}

.f144648480510

	{

		width:212px;

		height:162px;

	}

.f144648480511 .f144648480512

	{

		display:block;

		text-align:center;

		line-height:40px;

		color:#737373;

		font-size:14px;

	}

.f144648480511 .f144648480512:hover

	{

		color:#a7764e;

	}